<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAFY6ji9omv4Jk2q0I2fuZAmQdQU8n8Z84</string>
	<key>GCM_SENDER_ID</key>
	<string>453336866464</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ducanh.ducanherp</string>
	<key>PROJECT_ID</key>
	<string>ducanherp</string>
	<key>STORAGE_BUCKET</key>
	<string>ducanherp.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:453336866464:ios:1f95e512228d48d9a773c5</string>
</dict>
</plist>